<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Chess
	Connect</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- commentList refers to............ -->
	<div class="card p-3 m-2" th:each="comment : ${commentList}"
		th:fragment="comment-fragment">
		
		<h5>[[${comment.title}]]</h5>
		
		<h6>[[${comment.body}]]</h6>
		<p>Posted in [[${team.teamName}]] on <span
				th:text="${#dates.format(comment.timestamp, 'MM-dd-YY')}"></span>
				 by [[${comment.userId}]]
		</p>
	</div>

</body>