<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Chess
	Connect</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>


	<a th:fragment="puzzle-fragment" th:href="@{/singlePuzzle/{id}(id=${puzzle.id})}">
		<h5>[[${puzzle.puzzleName}]]</h5>



	</a>

</body>