<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Chess
	Connect</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>


	<a th:href="@{/singleTeam/{id}(id=${team.id})}"
		th:style="'box-shadow: -1px 1px 8px 0px ' + ${team.teamColor} + ';' "
		class="team-card p-3 m-3" th:fragment="team-fragment">
		<h5 class="team-card-title">[[${team.teamName}]]</h5>
		<p style="text-align: center;">[[${team.teamDesc}]]</p>


	</a>

</body>