@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-text-color: #4cceac;
    --secondary-bg-color: #1F2A40;
    --body-bg-color: #ededf0;
    --dark-bg-color: #141b2d;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--body-bg-color);
    overflow-x: hidden;
}

.sidebar {
    background-color: var(--secondary-bg-color);
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 550ms;
    z-index: 20;
    border-right: 1px solid #30363d;
}

.sidebar-list {
    margin-top: 30px;
    padding-left: 30px;
    display: flex;
    color: white;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

.sidebar.activate-sidebar {
    left: 0px;
}

.toggle-btn {
    position: absolute;
    opacity: 0;
    margin: 10px;
}

.form-control {
    background-color: transparent;
    border: 1px solid #72787e;
}

.topnav {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-bottom: 1px solid #cecece;
}

.logo {
    display: flex;
    padding: 16px 0 0 20px;
    z-index: 100;
    text-decoration: none;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.rh-topnav {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.branded-font {
    display: flex;
    color: var(--main-text-color);
    font-family: 'Unbounded', cursive;
    font-size: 1.6rem;
    letter-spacing: -2.5px;
    z-index: 100;
}

.page-content {
    padding: 0 0 0 250px;
}

.profile-button {
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.team-card {
	width: 200px;
	height: 175px;
	border-radius: 6px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color: inherit;
    --bs-link-hover-color: none;
}

.team-card-container {
	display: flex;
	flex-wrap:wrap;
}

.single-team-background {
	min-height:100vh;
	display: flex;
    justify-content: center;
}

.single-team-page-content {
	padding: 0 80px;
	margin-bottom: 200px;
	margin-top: 80px;
	background-color: white;
	width: 80%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 18px;
}

/* Login page */
.login-card {
    width: 62vw;
    height: 350px;
    margin: 20vh auto 73px auto;
}

.login-form-container {
    width: 90%;
    height: 56%;
    min-height: 375px;
    min-width: 642px;
    display: flex;
    align-items: center;
    border-radius: 13px;
}

.login-form-bg {
	height: 100%;
    background-image: url(../img/black-and-white-chess-img.jpg);
    background-size: 1300px;
    background-position-y: 80%;
    background-position-x: 50%;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-name: panoramic;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    overflow: hidden;
    margin: 0 auto;
    will-change: background-position-x;
}

@keyframes panoramic {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}



.login-form-input {
    text-align: center;
    color: black;
    opacity: 0.7;
    width: 70%;
    border-radius: 0.5rem;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.login-welcome {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Unbounded', cursive;
    padding-bottom: 10px;

}

/* RIGHT SIDE OF FORM */
.login-form-right {
    opacity: 75%;
    height: 100%;
    width: 80%;
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded', cursive;
}

.login-form-left {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.sign-up-button {
    width: 45%;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
    font-family: 'Unbounded', cursive;
    border: none;
    background-color: #474747ad;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.color-input {
	width: 100%;
    display: flex;
    color: black;
    opacity: 0.7;
    align-items: center;
    margin: -6px 0 14px 0;
    justify-content: space-evenly;
    padding: 0px 90px;
}

.team-color-label {
	background-color: white;
    opacity: 0.7;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.puzzle-icon {
	   font-size: 48px;
}

.create-team-card {
    width: 65vw;
    height: 450px;
    margin: 10vh auto 73px auto;
}







/* Dark Mode */

.dark-mode {
    background-color: var(--dark-bg-color);
    color: rgba(255,255,255,0.7);
}

.topnav-dark-mode {
    background-color: var(--dark-bg-color);
    color: white;
    border-bottom: 1px solid #30363d;
}

.card-dark-mode {
    background-color: var(--secondary-bg-color);
    color: white;
    box-shadow: none;
}


/* Media Queries */
@media only screen and (max-width: 768px) {
    .sidebar {
        left: -100%;
    }

    .toggle-btn {
        z-index: 50;
        opacity: 1;
    }

    .content {
        padding: 0;
    }

    .topnav {
        justify-content: center;
    }

    .rh-topnav {
        display: none;
    }
}
