<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Login Page</title>
</head>

<body>

	<div layout:fragment="content">
		<!-- Pop up Modal -->
		<div th:if="${notice}">
			<div class="modal fade" id="exampleModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Error</h5>
						</div>
						<div class="modal-body">
							<p>[[${notice}]]</p>
						</div>
						<div class="modal-footer">
							<a th:href="@{/login}"><button type="button"
									class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>

							<a th:href="@{/logerror}"><button type="button"
									class="btn btn-danger">Log Error to File</button></a>
						</div>
					</div>
				</div>
			</div>
			<script>
				function myFunction() {
					$("#exampleModal").modal('toggle'); //see here usage
				};
				myFunction();
			</script>
		</div>

		<!-- Login card -->
		<section class='login-card'>
			<div class='login-form-container login-form-bg'>
				<form class='login-form-left' action="#"
					th:action="@{/users/signup}" th:object="${user}" method="post">
					<h3 class="login-welcome">Become a Member</h3>
					<input class='login-form-input' placeholder='Username' type="text"
						th:field="*{username}" /> <input class='login-form-input'
						placeholder='Email' type="text" th:field="*{email}" /> <input
						class='login-form-input' placeholder='Password' type="password"
						th:field="*{password}" /> <input class='login-form-input'
						placeholder='Chess.com Username' type="text"
						th:field="*{onlineProfile}" /> <input class='login-form-input'
						placeholder='Location' type="text" id="location" name="location"
						th:field="*{userLocation}" />
					<button type="button" class="sign-up-button" id="find-my-loc">Use
						Current Location</button>


					<button type="submit" class="sign-up-button">SUBMIT</button>
				</form>

				<div class='login-form-right'>
					<form class='login-form-left' action="#"
						th:action="@{/users/login}" th:object="${user}" method="post">
						<h3 class="login-welcome">Existing Members</h3>
						<input class='login-form-input' placeholder='Email' type="text"
							th:field="*{email}" /> <input class='login-form-input'
							placeholder='Password' type="password" th:field="*{password}" />
						<button type="submit" class="sign-up-button">LOGIN</button>
					</form>
				</div>
			</div>
		</section>

		<script type="text/javascript">
        const findLoc = document.querySelector("#find-my-loc");
        const locationInput = document.querySelector("#location");
        findLoc.addEventListener('click', () => {
            navigator.geolocation.getCurrentPosition(data => {
                console.log(data.coords.latitude,data.coords.longitude);
                var data = data.coords.latitude + ',' + data.coords.longitude 
                $("#location").val(data)
            })
        })
</script>









	</div>

</body>
</html>