<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Puzzles Page</title>
</head>
<body>

	<div layout:fragment="content" >
	<h1 style="text-align:center; margin: 26px 0;">Complete Puzzles to Unlock Badges</h1>
	
	
	
	
	
	<!-- All Team Cards -->
		<ul style="list-style:none;" class="puzzle-card-container">
			<li th:each="puzzle : ${puzzleList}">
				<div th:insert="~{fragments/puzzle-fragment :: puzzle-fragment}" ></div>
			</li>
		</ul>
	</div>
</body>
</html>