<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Teams Page</title>
</head>
<body>
	<div layout:fragment="content" >
	
	  <h1 style="text-align:center; margin: 26px 0;">Discover Teams in Your Area</h1>
	
	<!-- Map View -->
	  <div th:insert="fragments/map-fragment :: map-fragment"></div>
	
	
	
	
	
	
	<!-- All Team Cards -->
		<ul style="list-style:none;" class="team-card-container">
			<li th:each="team : ${teamList}">
				<div th:insert="~{fragments/team-fragment :: team-fragment}"></div>
			</li>
		</ul>
	</div>
</body>
</html>